* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
    font-style: italic;
    margin: 150px 560px;
    color: aliceblue;
   
}

.container {
    position: fixed;
    margin: 60px 450px;
    width: 400px;
    height: 400px;
    background: #ffc153;
}

.box {
    position: absolute;
    margin: 260px 260px;
    width: 200px;
    height: 200px;
    background: #47b39d;
}